
    <ul class="list-features list-fetures-basic">
      <li>Free Blog <span class="pull-right">&times;5</span></li>
      <li>Revolutionary Markdown Editor</li>
      <li>Markdown (GFM) Support</li>
      <li>LaTeX Support</li>
      <li>Import from Octopress</li>
      <li>Import from WordPress</li>
      <li>Import from Tumblr</li>
      <li>Import from Blogger</li>
    </ul>

    <ul class="list-features list-fetures-premium">
      <li>Drag &amp; Drop Image Upload <span class="pull-right">100MB</span> </li>
      <li>Custom Domain &amp; Mapping</li>
      <li>Custom Theme </li>
      <li>50% off upgrading to Premium</li>
    </ul>
