<li id="plan-beta" class="pricing-plan odd">
  <div class="plan-header">
    <hgroup>
      <h3 class="plan-title">Beta</h3>
      <p class="plan-desc">Ends on September 2013</p>
    </hgroup>
  </div>
  <div class="plan-body">
    <%= render :partial => "landing/pricing/beta_plan_body" %>
  </div>
  <div class="plan-actions">
    <%= link_to( "Sign In & Upgrade", "/beta", :class => "btn btn-large input-block-level" ) %>
  </div>
</li>