
    <ul class="list-features list-fetures-basic">
      <li>Free Blog <span class="pull-right">&times;1</span></li>
      <li>Static Page per Blog <span class="pull-right">&times;1</span></li>
      <li>Revolutionary Markdown Editor</li>
      <li>Markdown (GFM) Support</li>
      <li>LaTeX Support</li>
      <li>Import from Octopress</li>
      <li>Import from WordPress</li>
      <li>Import from Tumblr</li>
      <li>Import from Blogger</li>
    </ul>
   <ul class="list-features list-fetures-premium">
      <li>Drag &amp; Drop Image Upload <span class="pull-right">30 pics</span> </li>
      <li> Custom Theme   </li>
    </ul>