<li id="plan-free" class="pricing-plan">
  <div class="plan-header">
    <hgroup>
      <h3 class="plan-title">Free</h3>
      <h4 class="plan-price">$0</h4>
    </hgroup>
  </div>
  <div class="plan-body">
    <%= render :partial => "landing/pricing/free_plan_body" %>
  </div>
  <div class="plan-actions">
    <%= link_to( "Sign Up", "/signup", :class => "btn btn-large btn-primary input-block-level" ) %>
  </div>
</li>