<li id="plan-premium" class="pricing-plan">
  <div class="plan-header">
    <hgroup>
      <h3 class="plan-title">Premium</h3>
      <h4 class="plan-price">$5<small>/mo</small></h4>
    </hgroup>
  </div>
  <div class="plan-body">
    <%= render :partial => "landing/pricing/premium_plan_body" %>
  </div>
  <div class="plan-actions">
     <%= link_to( "Sign In & Upgrade", "go_premium", :class => "btn btn-large input-block-level" ) %>
  </div>
</li>