@import "variables";
@import "compass/css3/images";

// Functions
@function relative-size($target-size, $base-size: $base-font-size, $unit: 1em) {
  @return ($target-size / $base-size) * $unit;
}

// Mixins
@mixin tours-figure-note($top, $line-length: 0px) {
  top: $top;
  &:before {
    width: $line-length;
  }
}

@mixin curved-shadow-background($direction, $color-stops...) {
  $vertical-position: opposite-position($direction);

  @include background-image(
    radial-gradient($vertical-position center, farthest-side, $color-stops)
  );
  background-image: radial-gradient(farthest-side at $vertical-position center, $color-stops);
}

// Style Placeholders
%heading-font {
  font-family: $heading-font;
  font-weight: 600;
}

%self-clear {
  zoom: 1; /* IE6&7 */

  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%vertical-center-container {
  font-size: 0;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  %vertical-center-inner {
    font-size: $base-font-size;
    display: inline-block;
    vertical-align: middle;
  }
}

%justify-grid-list {
  font-size: 0;
  text-align: justify;

  %justify-grid-item, .placeholder {
    font-size: $base-font-size;
    display: inline-block;
    vertical-align: top;
  }
}

%section-concaved {
  position: relative;
  @include background-image(
    linear-gradient(right, transparent, rgba(0,0,0,.05), transparent)
  );
  background-image: linear-gradient(to right, transparent, rgba(0,0,0,.05), transparent);

  &:before, &:after {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    left: 0;
  }
  &:before {
    @include curved-shadow-background(bottom, rgba(0,0,0,.3), transparent);
    top: -1px;
  }
  &:after {
    @include curved-shadow-background(top, rgba(0,0,0,.3), transparent);
    bottom: -1px;
  }
}
