// Colors
$base-color: #555;
$base-strong-color: #333;
$base-light-color: #999;

$link-color: hsl(220,65%,40%);
$base-border-color: darken(white,20%);

$menu-fg-color: #fff;
$menu-bg-color: rgba(0,0,0,.75);
$menu-hover-bg-color: rgba(255,255,255,.15);

$section-bg-color: darken(white,10%);

$red-dark: hsl(0,55%,40%);
$orange:   hsl(35,95%,45%);

// Fonts
$base-font: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$heading-font: "Myriad Pro", "PT Sans", "Lucida Grande", sans-serif;
$mono-font: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;

$base-font-zhTW: "Source Sans Pro", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Lantinghei TC", "Hiragino Kaku Gothic Pro", sans-serif;
$heading-font-zhTW: "Myriad Pro", "PT Sans", "Lucida Grande", "Hiragino Sans GB", "Lantinghei TC", "Hiragino Kaku Gothic Pro", sans-serif;

$base-font-zhCN: "Source Sans Pro", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Lantinghei SC", "Hiragino Kaku Gothic Pro", sans-serif;
$heading-font-zhCN: "Myriad Pro", "PT Sans", "Lucida Grande", "Hiragino Sans GB", "Lantinghei SC", "Hiragino Kaku Gothic Pro", sans-serif;

$base-font-size: 16px;

// Size & Spacing:
$menu-height: 70px;
$menu-height-small: 50px;
$menu-padding: 20px;

$section-narrow-width: 720px;
$section-padding: 80px; // Desired vertical padding.

$tours-note-width: 140px;
$tours-note-margin: 15px; // Figure note margin to the main image
$tours-content-width: (940px - $tours-note-width*2 - $tours-note-margin*2);

// Timing Functions
$timing-bounce-in-out: cubic-bezier(.4,-0.2,.6,1.2);
$timing-ease-out-duo: cubic-bezier(0,0,.3,1);
