// Colors
$base-color: #555;
$base-strong-color: #333;
$base-light-color: #999;;

$menu-fg-color: #fff;
$menu-bg-color: rgba(0,0,0,.75);
$menu-hover-bg-color: rgba(0,0,0,.15);
$menu-active-bg-color: #fff;

// Fonts
$base-font: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$heading-font: "Myriad Pro", "PT Sans", "Lucida Grande", sans-serif;
$mono-font: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;

$base-font-size: 16px;
