// Colors
$base-color: #555;
$base-strong-color: #333;
$base-light-color: #999;

$link-color: hsl(220,65%,40%);

$menu-fg-color: #fff;
$menu-bg-color: rgba(0,0,0,.75);
$menu-hover-bg-color: rgba(255,255,255,.15);

$section-bg-color: darken(white,10%);

// Fonts
$base-font: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$heading-font: "Myriad Pro", "PT Sans", "Lucida Grande", sans-serif;
$mono-font: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;

$base-font-size: 16px;

// Size & Spacing:
$menu-height: 70px;
$menu-padding: 20px;

$section-narrow-width: 720px;
$section-padding: 80px; // Desired vertical padding.
