<div class="landing-hero type-k">
  <div class="container vertical-center">
    <div class="center-inner">
      <h2 class="hero-title">
        Great Blog Platform<br>
        for Great Writers
      </h2>
      <p class="hero-lead">
        Blog the richest content,<br>
        with the least effort.
      </p>
      <div class="hero-actions">
        <%= link_to("Take a Tour", "/tour", :class => "btn btn-large btn-success btn-hero-action") %>
      </div>
    </div>
  </div>
</div>
