<div class="landing-menu" data-spy="affix" data-offset-top="70">
  <div class="container">
    <h1 class="hide"><%= Setting.app_name %></h1>

    <%= link_to "/", :class => "brand pull-left" do %>
      <%= Setting.app_name %></span>
    <% end %>

    <%= render_list :class => "nav nav-pills landing-nav pull-right" do |li|
      li << link_to("Tours", "/tours")
      li << link_to("Pricing", "/pricing")
      li << link_to("Explore", "/explore")
      li << link_to("Sign in", new_user_session_path)
    end %>
  </div>
</div>