<div class="landing-menu" data-spy="affix" data-offset-top="50">
  <div class="container">
    <h1 class="hide"><%= Setting.app_name %></h1>

    <%= render_list :class => "nav nav-pills landing-nav pull-right" do |li|
      li << [link_to("Home", root_path), :class => "off-canvas-only"]
      li << link_to("Tours", "/tours")
      li << link_to("Pricing", "/pricing")
      li << link_to("Explore", "/explore")
      li << link_to("Sign in", new_user_session_path)
    end %>

    <%= link_to "/", :class => "brand pull-left" do %>
      <%= Setting.app_name %></span>
    <% end %>

    <button type="button" class="menu-toggle">
      <span class="hide">Toggle Navigation</span>
    </button>


  </div>
</div>