@import "../variables";
@import "../mixins";

// Normal Feature List
.feature-list {
  list-style: none;
  margin-left: 0;
  padding: 0;

  .feature {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .feature-title {
    font-size: 18px;
    line-height: 20px;
  }

  &.with-icon {
    .feature-icon {
      width: 50px;
      margin-top: 10px;
      float: left;
    }
    .feature-title,
    .feature-desc {
      margin-left: 60px;
    }
  }
}

// Larger Feature List
.feature-list.large-type {
  .feature-title {
    font-size: 20px;
  }

  &.with-icon {
    .feature-icon {
      width: 60px;
    }
    .feature-title,
    .feature-desc {
      margin-left: 80px;
    }
  }
}

// Feature List with small icon
.feature-list.small-icon {
  &.with-icon {
    .feature-icon {
      width: 25px;
    }
    .feature-title,
    .feature-desc {
      margin-left: 35px;
    }
  }
}

// Feature list with 2 columns
.feature-list.duo-columns {
  @extend %self-clear;
  width: relative-size($section-narrow-width, 940px, 100%);
  margin: 40px auto 10px;

  .feature {
    width: relative-size(340px, $section-narrow-width, 100%);
    margin: 0 0 30px;
    float: left;

    &:nth-child(odd) {
      margin-right: relative-size(40px, $section-narrow-width, 100%);
    }
    &:nth-last-of-type(1):nth-of-type(odd),  //only one at last row
    &:nth-last-of-type(1):nth-of-type(even), //at the right of last row
    &:nth-last-of-type(2):nth-of-type(odd) { //at the left of last row
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .feature-title {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

// Responsive
@media (max-width: 767px) {
  .feature-list.duo-columns {
    width: 520px;

    .feature {
      width: 100%;
      float: none;
      margin-bottom: 40px !important;
    }
  }
}
@media (max-width: 600px) {
  .feature-list.duo-columns {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .feature-list.with-icon,
  .feature-list.large-type.with-icon {
    .feature-icon {
      float: none;
      display: block;
      margin: 0 auto;
    }
    .feature-title,
    .feature-desc {
      margin-left: 0;
      margin-top: 10px;
    }
    .feature-title {
      text-align: center;
    }
  }

  .feature-list.small-icon.with-icon {
    .feature-icon {
      float: left;
      margin: 0;
    }
    .feature-title,
    .feature-desc {
      margin-left: 35px;
      margin-top: 0;
    }
    .feature-title {
      text-align: left;
    }
  }
}
