@import "../variables";
@import "../mixins";

.feature-list {
  list-style: none;
  margin-left: 0;
  padding: 0;

  .feature {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .feature-title {
    font-size: 20px;
  }
}

.feature-list.with-icon {
  .feature-icon {
    width: 60px;
    margin-top: 10px;
    float: left;
  }
  .feature-title,
  .feature-desc {
    margin-left: 80px;
  }
}

.feature-list.small-header {
  .feature-title {
    font-size: 18px;
    line-height: 20px;
  }
}

.feature-list.small-icon.with-icon {
  .feature-icon {
    width: 25px;
    margin-top: 0;
  }
  .feature-title,
  .feature-desc {
    margin-left: 35px;
  }
}

.feature-list.duo-columns {
  @extend %justify-grid-list;
  width: relative-size($section-narrow-width, 940px, 100%);
  margin-left: auto;
  margin-right: auto;

  .feature, .placeholder {
    width: relative-size(340px, $section-narrow-width, 100%);
  }
  .feature {
    @extend %justify-grid-item;
    margin: 0 0 10px;
  }
}
