@import "../mixins";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

%menu-item-hover {
  color: $menu-fg-color;
  background-color: $menu-hover-bg-color;
}
%menu-item {
  color: $menu-fg-color;
  line-height: $menu-height;
  text-decoration: none;
  padding: 0 $menu-padding;
  @include transition(150ms);

  &:hover, &:focus {
    @extend %menu-item-hover;
  }
}

.landing-menu {
  width: 100%;
  background-color: $menu-bg-color;
  line-height: $menu-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  @include box-sizing(border-box);
  @include transition(line-height 150ms);

  .brand {
    @extend %menu-item;
    font-size: 28px;
    margin-left: -$menu-padding;
  }

  .menu-toggle {
    @extend %menu-item;

    width: ($menu-padding * 3.2);
    height: $menu-height-small;
    background: none;
    color: $menu-fg-color;
    border: none;
    margin-right: -$menu-padding;
    position: relative;
    display: none;

    &:before {
      width: $menu-padding * 1.2;
      height: 3px;
      background-color: $menu-fg-color;
      content: '';
      display: block;
      position: absolute;
      top: percentage(24px / 70px);
      left: $menu-padding;

      box-shadow:
        0 8px 0 $menu-fg-color,
        0 16px 0 $menu-fg-color;
    }
  }

  .nav-pills {
    margin-bottom: 0;

    &:last-child {
      margin-right: -$menu-padding;
    }

    & > li > a {
      @extend %menu-item;
    }
    & > li {
      position: relative;
      z-index: 5;
    }
    & > li.active {
      z-index: 1;

      & > a:hover, & > a:focus {
        background-color: $link-color;
      }
    }

    a {
      font-size: 20px;
      font-weight: 300;
      margin: 0 0 0 ($menu-padding * -0.5);
      @include border-radius(0);
    }
  }
}

.landing-menu.affix {
  line-height: $menu-height-small;

  .brand,
  .nav-pills > li > a {
    line-height: $menu-height-small;
  }
}

.landing-menu.touch {
  .menu-toggle {
    &:hover, &:focus {
      background-color: inherit;
      color: inherit;
    }
  }
}

// Responsive Menu
@include media-small-tablet {
  .landing-menu {
    line-height: $menu-height-small;

    .menu-toggle {
      display: block;
      float: right;
    }

    .brand,
    .nav-pills > li > a {
      line-height: $menu-height-small;
    }
    .nav-pills {
      height: 0;
      overflow: hidden;
      clear: both;
      margin-left: ($menu-padding * -0.5);
      margin-right: ($menu-padding * -0.5) !important;

      @include transition(height 350ms $timing-bounce-in-out);

      &, & > li { float: none; }

      &.open {
        height: auto;
      }

      li.last {
        padding-bottom: ($menu-padding * 0.5);
      }
    }
  }
}

@include media-iphone4-landscape {
  .landing-menu {
    .nav-pills {
      margin-left: -$menu-padding;
      margin-right: -$menu-padding !important;

      a {
        margin: 0;
      }
    }
  }
}
