@import "../mixins";

.poly-theater {
  @extend %section-narrow-inner;

  & {
    margin: 40px auto;
  }

  .theater-content {
    margin: 0 auto;
  }
  .theater-desc {
    margin-top: 40px;
  }

  @include media-bt-middle {
    width: relative-size(640px, 724px, 100%);
  }
}
