@import "../mixins";
@import "compass/css3/box-sizing";

.pricing-table.type-a {
  @extend %section-concaved;

  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid darken(white, 20%);
  border-bottom: 1px solid darken(white, 20%);

  .list-pricing-plans {
    @extend %self-clear;
    margin: 0;
    list-style: none;
  }

  .pricing-plan {
    width: (100% / 3); // 320px at normal
    min-height: relative-size(540px);
    padding: relative-size(20px) percentage(25px / 960px);
    float: left;
    box-sizing: border-box;

    small {
      color: lighten(black, 40%);
      font-size: 80%;
    }

    &.odd {
      background-color: darken(white, 3%);
      border: 1px solid darken(white, 20%);
      border-width: 0 1px;
      margin: 0 -1px;
    }
  }
  &.duo-plan .pricing-plan {
    width: 36%;
    margin-left: (100% - 36%*2)/3;
  }

  .plan-header {
    @extend %heading-font;
    color: lighten(black, 30%);
    text-align: center;
    border-bottom: 2px dashed lighten(black, 50%);
    margin-top: relative-size(-5px);
    padding-bottom: relative-size(15px);
  }
  .plan-title, .plan-price, .plan-desc {
    font-weight: normal;
    line-height: 35px;
    margin: 0;
  }
  .plan-title {
    font-size: relative-size(26px);
    line-height: relative-size(35px,26px);
  }
  .plan-price {
    font-size: relative-size(32px);
    line-height: relative-size(35px,32px);
  }
  .plan-desc {
    color: lighten(black, 35%);
    font-size: relative-size(18px);
    line-height: relative-size(35px,18px);
  }

  .plan-body {
    margin: relative-size(20px - 8px) 0;
  }

  .plan-actions {
    margin-top: relative-size(40px);
  }

  .list-features {
    margin: 0;
    list-style: none;

    li {
      line-height: 2em;
      overflow: auto;

      &:before {
        width: 1em;
        content: "\f00c";
        font-family: FontAwesome;
        margin-right: 0.5em;
      }
    }
  }
  .list-fetures-basic li:before {
    content: '•';
    text-align: center;
    display: inline-block;
  }
  .list-fetures-premium li,
  .list-features .premium {
    color: rgb(25,100,25);
    font-weight: 600;
  }
}

@include media-bt-wide {
  .pricing-table.type-a {
    width: 1200px;
  }
}
@include media-bt-middle {
  .pricing-table.type-a {
    max-width: 100%;

    .pricing-plan {
      padding-left: percentage(15px / 960px);
      padding-right: percentage(15px / 960px);
    }
  }
}
@include media-query($max-width: 900px) {
  .pricing-table.type-a {
    max-width: 100%;
    font-size: percentage(14px/16px);

    .pricing-plan {
      padding-left: percentage(10px / 960px);
      padding-right: percentage(10px / 960px);
    }

    .list-features {
      li:before {
        margin-right: 0.2em;
      }
    }
  }
}

@include media-bt-small {
  .pricing-table.type-a {
    width: 80%;
    background-image: none;
    font-size: $base-font-size;
    border: none;

    &:before, &:after {
      display: none;
    }

    .pricing-plan {
      background-color: white;
      width: 100%;
      margin-bottom: 30px;
      padding-left: percentage(25px / 960px);
      padding-right: percentage(25px / 960px);
      border: 1px solid darken(white, 20%);
      border-radius: 6px;
      float: none;
      position: relative;

      &.odd {
        background-color: white;
        border-width: 1px;
        margin: 0 0 30px;
      }

      &:after {
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        @include curved-shadow-background(bottom, rgba(0,0,0,.4), transparent);
      }
    }
    &.duo-plan .pricing-plan {
      width: 100%;
      margin-left: 0;
    }
  }
}

@include media-smartphone {
  .pricing-table.type-a {
    width: percentage(300px/320px);
  }
}

