@import "../mixins";
@import "compass/css3/box-sizing";

.pricing-table.type-a {
  @extend %section-concaved;

  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid darken(white, 20%);
  border-bottom: 1px solid darken(white, 20%);

  .list-pricing-plans {
    @extend %self-clear;
    margin: 0;
    list-style: none;
  }

  .pricing-plan {
    width: (100% / 3); // 320px at normal
    min-height: 540px;
    padding: 20px percentage(25px / 960px);
    //margin-left: (270px/3); //For 2 plans
    float: left;
    box-sizing: border-box;

    small {
      color: lighten(black, 40%);
      font-size: 80%;
    }

    &.odd {
      background-color: darken(white, 3%);
      border: 1px solid darken(white, 20%);
      border-width: 0 1px;
      margin: 0 -1px;
    }

    .plan-header {
      @extend %heading-font;
      color: lighten(black, 30%);
      text-align: center;
      border-bottom: 2px dashed lighten(black, 50%);
      margin-top: -5px;
      padding-bottom: 15px;
    }
    .plan-title, .plan-price, .plan-desc {
      font-weight: normal;
      line-height: 35px;
      margin: 0;
    }
    .plan-title {
      font-size: 26px;
    }
    .plan-price {
      font-size: 32px;
    }
    .plan-desc {
      color: lighten(black, 35%);
      font-size: 18px;
    }

    .plan-body {
      margin: (20px - 8px) 0;
    }

    .plan-actions {
      margin-top: 40px;
    }

    .list-features {
      margin: 0;
      list-style: none;

      li {
        //height: 32px;
        font-size: 16px;
        line-height: 32px;
        overflow: auto;

        &:before {
          content: "\f00c";
          font-family: FontAwesome;
          margin-right: 0.5em;
        }
      }
    }
    .list-fetures-basic li:before {
      width: 15px;
      content: '•';
      text-align: center;
      display: inline-block;
    }
    .list-fetures-premium li,
    .list-features .premium {
      color: rgb(25,100,25);
      font-weight: 600;
    }
  }
}

@include media-bt-wide {
  .pricing-table.type-a {
    width: 1200px;
  }
}
@include media-bt-middle {
  .pricing-table.type-a {
    max-width: 100%;

    .pricing-plan {
      padding: 20px percentage(15px / 960px);
    }
  }
}

