@import "../mixins";
@import "compass/css3/box-shadow";

.landing-section {
  padding: $section-padding 0;

  & + & {
    border-top: 1px solid $section-bg-color;
  }

  &.section-filled {
    background-color: $section-bg-color;
  }
  &.mid-padding, &.slim-body {
    padding-top: ($section-padding/2);
    padding-bottom: ($section-padding/2);
  }
  &.zero-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-title {
    @extend %heading-font;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    margin: 0 0 40px;
  }

  .with-shadow {
    @include box-shadow(0 2px 6px rgba(0,0,0,.5));
  }
}

.section-narrow-inner {
  @extend %section-narrow-inner;
}

@include media-small-tablet {
  .landing-section {
    padding: ($section-padding/2) 0;

    &.mid-padding, &.slim-body {
      padding-top: ($section-padding/4);
      padding-bottom: ($section-padding/4);
    }

    .section-title {
      font-size: 32px;
    }
  }
}

@include media-smartphone {
  .landing-section {
    .section-title {
      font-size: 28px;
    }
  }
}
