@import "../mixins";
@import "compass/css3/box-sizing";

.tours-figure {
  margin: 40px 0;
  position: relative;

  & ~ p {
    width: percentage($tours-content-width / 940px);
    margin: 10px auto;
  }

  .main-image {
    width: percentage($tours-content-width / 940px);
    display: block;
    margin: 0 auto;
  }

  .note {
    width: percentage($tours-note-width / 940px);
    font-size: 90%;
    line-height: 18px;
    display: block;
    padding: 0 6px;
    position: absolute;
    @include box-sizing(border-box);

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
    }
    &:before {
      height: 0;
      border-bottom: 1px solid;
      top: 9px;
    }
    &:after {
      width: 0;
      border-left: 1px solid;
    }

    &.left {
      text-align: right;
      padding-left: 0;
      left: 0;
      &:before { left: 100%; }
    }
    &.right {
      padding-right: 0;
      right: 0;
      &:before { right: 100%; }
    }

  }
}