
    <div class="container">
      <div class="row-fluid">
        <ul class="feature-list with-icon small-header small-icon">
          <li class="span4 feature feature-editor">
            <%= image_tag("noun_projects/noun_project_14414.svg", :class => "feature-icon") %>

            <h4 class="feature-title">Revolutionary Editor</h4>

            <p class="feature-desc">
              Logdown supports GitHub Flavored Markdown, Latex and is compatible with <%= link_to("Octopress syntax", "http://hello-logdown.logdown.com", :target => "_blank") %>, also provides in-editor preview with best user experience.
            </p>
          </li>

          <li class="span4 feature feature-upload">
            <%= image_tag("noun_projects/noun_project_16454.svg", :class => "feature-icon") %>

            <h4 class="feature-title">Powerful Image Uploader</h4>

            <p class="feature-desc">
              Instinctive interface for uploading images. Never feel that easy blogging with pictures. Drag &amp; Drop local files or importing from Flickr, Facebook, Instagram&hellip;
            </p>
          </li>

          <li class="span4 feature feature-import">
            <%= image_tag("noun_projects/noun_project_15452.svg", :class => "feature-icon") %>

            <h4 class="feature-title">Compatible syntax &amp; urls</h4>

            <p class="feature-desc">
              No complex setting or steps for importing old blogs. Support Wordpress, Octopress syntax and urls. It's also easy to export blogs if you decide to leave us.
            </p>
          </li>
        </ul>
      </div>
    </div>
