
      <ul class="feature-list with-icon duo-columns small-header">
        <li class="feature feature-domain">
          <%= image_tag("icons/user.png", :class => "feature-icon", :alt => nil) %>
          <h4 class="feature-title">Custom domains</h4>
          <p class="feature-desc">Your domain is your personal brand. Logdown let you host blog under whatever domain you want.</p>
        </li>
        <li class="feature feature-upload">
          <%= image_tag("icons/suitcase.png", :class => "feature-icon", :alt => nil) %>
          <h4 class="feature-title">Painless import / export </h4>
          <p class="feature-desc">Quick and easy import from major blogging platforms. Painless export - if you choose to leave.</p>
        </li>
        <li class="feature feature-social">
          <%= image_tag("icons/chat.png", :class => "feature-icon", :alt => nil) %>
          <h4 class="feature-title">Social integration in seconds</h4>
          <p class="feature-desc">Comment system powered by Disqus, you can transfer previous comments with every post. Auto generating detailed OpenGraph info.</p>
        </li>
        <li class="feature feature-dirty-detect">
          <%= image_tag("icons/shield.png", :class => "feature-icon", :alt => nil) %>
          <h4 class="feature-title">Backup services</h4>
          <p class="feature-desc">
            We backup your blog more than six times a day for peace of mind. Any concerns? We can answer your question anytime.
          </p>
        </li>
      </ul>