
        <ul class="unstyled feature-list with-icon vertical">
          <li class="feature">
            <%= image_tag("icons/rocket.png", :size => "60", :alt => "", :class => "feature-icon") %>
            <h4 class="feature-title"> Compose your FAQs, fast and sexy. </h4>
            <p class="feature-desc">
              With the most simple yet powerful Markdown editor from Logdown, you can concentrate more on writing and save more time from the formatting mess.
            </p>
          </li>
          <li class="feature">
            <%= image_tag("icons/safari.png", :size => "60", :alt => "", :class => "feature-icon") %>
            <h4 class="feature-title"> Worry about the hosting, not. </h4>
            <p class="feature-desc">
              Your knowledge base is hosted on CommonQ, and is available to your customers right upon you finish editing. Say goodbye to server configurations!
            </p>
          </li>
          <li class="feature">
            <%= image_tag("icons/beer.png", :size => "60", :alt => "", :class => "feature-icon") %>
            <h4 class="feature-title"> OK, your done. Now get a drink. </h4>
            <p class="feature-desc">
              On CommonQ, you’re only responsible of writing, editing and managing your knowledge base. We’ll take the rest. So let’s get a drink for the time and money you just saved!
            </p>
          </li>
        </ul>