
  <div class="landing-section mid-padding landing-get-started">
    <div class="container">
      <p class="pull-left"> Be the first to try out Logdown. </p>

      <%= link_to('Get Started Now', "/users/sign_up" , :class => "btn btn-primary btn-large btn-getstarted pull-right") %>
    </div>
  </div>