<div class="page-pricing"><main>
  <div class="landing-section zero-padding landing-pricing">
    <h2 class="section-title">Plans &amp; Pricing</h2>

    <div class="pricing-table type-a">
      <ul class="list-pricing-plans">
        <%= render :partial => "landing/pricing/free_plan" %>
        <%= render :partial => "landing/pricing/beta_plan" %>
        <%= render :partial => "landing/pricing/premium_plan" %>
      </ul>
    </div>
  </div>
</main></div>
