<div class="page-tours">
  <div class="container">
    <%= render :partial => "landing/tours/header_nav" %>
  </div>
</div>
<div class="landing-section">
  <div class="container">
    <h2>Tours</h2>
  </div>
</div>

