
    <div class="tours-header-nav tours-nav">
      <div class="btn btn-large btn-nav pull-left">
        <%= fa_icon("angle-left") %> Previous
      </div>
      <div class="btn btn-large btn-nav pull-right">
        Next <%= fa_icon("angle-right") %>
      </div>
      <h2 class="header-nav-title tours-title">Tour</h2>
    </div>